<%= render 'layouts/navbar' %>

<% if logged_in? %>

  <div class="row">
    <aside class="col-sm-12">
     
     <%= render 'form', task: @task %>
     
    </aside>
    <div class="col-sm-8">
      <%= render 'tasks/tasks', tasks: @tasks %>
    </div>
  </div>

<% else %> 

<h1>Welcome to Tasklist</h1>
<%= link_to 'ログイン' , login_path %>
<%= link_to '登録',signup_path %>

<% end %>